{% extends "lx_base.html" %}

{%block main%}
{#21#}
{#213#}
<!--动态加载模块开始-->

<div name="ymgj_main" class="container container_24 tplArea ymgj_main">

    <div class="grid grid_24 banner_a"><div class="grid grid_24 alpha omega banner_b"><div class="widget widget_10_5" data-title="焦点图" href="/banner/">

        <div class="ImageDisplayBoxWrap ImageDisplayBoxWrap_LinkModule">
            <div class="ImageDisplayBox imageDisplay_10" style="position: relative;">
                <a href="" target="_blank" title="1" class="cycle-slide cycle-sentinel" style="position: static; top: 0px; left: 0px; z-index: 99; opacity: 1; display: block; visibility: hidden;">
                    <img src="http://img.12xiong.top/xx_mgr_7_2018_05_31_11_04_23.jpg" style="width: 1680px; height: 380px; margin: 0px; visibility: hidden;" alt="1">
                </a>
                <a href="" target="_blank" title="1" class="cycle-slide cycle-slide-active" style="position: absolute; top: 0px; left: 0px; z-index: 99; opacity: 1; display: block; visibility: visible;">
                    <img src="http://img.12xiong.top/xx_mgr_7_2018_05_31_11_04_23.jpg" style="width:1680px; height:380px; margin:0px 0px 0px 0px;" alt="1">
                </a>
            </div>
            </div>
                <script type="text/javascript">
                $(function() {
                    function init(){
                        var box = $(".imageDisplay_10");
                        box.each(function(){
                            if(this.initCycle)
                                return;
                            this.initCycle = true;
                            var box = $(this);
                            var wrap = box.closest('.ImageDisplayBoxWrap');
                            box.cycle({
                                slides: "> a"
                            });
                        });
                    }
                    ensureMedia({"_css": {}, "_js": ["/static/admin/js/jquery.js", "/static/_Client/JQuery/cycle2/jquery.cycle2.min.js"]}, init);
                });
                </script>
            </div>
        </div>
    </div>



    <div class="grid grid_15">
    <div style="height:25px"></div>
        <div class="widgetSet gsgk ui-sortable-handle">
            <ul class="setHeader">
                {% for tag in one_tag_list %}
                     {% if forloop.first %}
                        <li class="firstTab current">
                     {% elif  forloop.last %}
                         <li class="lastTab">
                     {% else %}
                        <li>
                     {% endif %}
                        <a href="{{ cover_base_url }}/{{ nav_index }}/{{ tag.id }}/" >{{ tag.name }}</a>
                     </li>
                {% endfor %}
            </ul>
            <div class="setBody">

                 {% for article in one_article_list %}
                 <div class="widget widget_564_214 standardWidget ui-sortable-handle gsgn current">
                    <div class="wHeader">
{#                                            <h2 class="caption">焦点新闻</h2>#}
                        <a class="more" href="菜单地址">更多...</a>
                    </div>
                    <div class="wBody">
                        <ul class="summaryList summaryList_ArticleModule">
                            <li>
                                <div class="imgBox">
                                    <a href="{{ article_base_url }}/{{ nav_index }}/{{ article.id }}/" target="_blank">

                                        <img src="{{ article.cover.url }}"  style="width: 250px; height: 250px; display: inline;">
                                    </a>
                                </div>
                                <a class="title" href="{{ article_base_url }}/{{ nav_index }}/{{ article.id }}/" target="_blank">{{ article.title }}</a>
                                <div class="summary">
                                   {{ article.subtitle }}
                                    <span class="more">
                                        <a href="{{ article_base_url }}/{{ nav_index }}/{{ article.id }}/" target="_blank">[详细]</a></span> <span class="more">
{#                                    <a href="" target="_blank">[更多]</a>#}
                                </span>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


{#    移民资讯#}
    <div class="grid grid_9">
    <div style="height:25px"></div>
        <div class="widget widget_47_30 standardWidget ui-sortable-handle lxzx">
            <div class="wHeader">
                <h2 class="caption">{{ two_tag.name }}</h2>

                <a class="more" href="{{ cover_base_url }}/{{ nav_index }}/{{ two_tag.id }}/">更多...</a>
            </div>
            <div class="wBody">
                      <ul class="dateList dateList_ArticleModule">
                          {% for article in two_article_list %}
                            <li>
                                <a href="{{ article_base_url }}/{{ nav_index }}/{{ article.id }}/" target="_blank" title="澳洲10年往返签正式实施啦！澳洲留学探亲好利器！">
                                    {{ article.title|slice:"15" }}
                                </a>
                                <span>{{ article.issue_time|date:"Y/m/d" }}</span>
                            </li>
                          {% endfor %}
                      </ul>
            </div>
        </div>
    </div>

<style>
    .more_flex{
        display: flex;
        justify-content:flex-end;
        align-items: center;
{#        padding-right: 10px;#}
    }
    .more_flex a {
        margin: 15px 15px 0 0;
    }

    .min {
        height: 286px;
        overflow: hidden;
    }
</style>
{#移民攻略#}
<div class="grid grid_15 lxgl_a">
    <div class="grid grid_15 alpha omega lxgl_b more_flex">
{#        <div class="grid grid_2 alpha ymgl_n">#}
{#    <div class="customContent">#}
            <a href="{{ cover_base_url }}/{{ nav_index }}/{{ three_tag.id }}/">更多...</a>

{#</div>#}
{#        </div>#}
    </div>
<div class="grid grid_15 alpha omega lxgl_c min"><div class="grid grid_7 alpha"><div class="widget widget_51_31 lxgl_zy ui-sortable-handle" data-title="移民攻略摘要" href="/ymgl_zy/">
<ul class="summaryList summaryList_ArticleModule">
	<li>
		<div class="imgBox">
			<a href="{{ article_base_url }}/{{ nav_index }}/{{ three_article_list.0.id }}/" target="_blank">
			    <img src="{{ three_article_list.0.cover.url }}"  style="width: 240px; height: 144px; margin: 3px 0px; display: inline;">
			</a>
		</div>
		<a class="title" href="{{ article_base_url }}/{{ nav_index }}/{{ three_article_list.0.id }}/" target="_blank" title="怎样安排留学期间打工时间更为合理？">{{ three_article_list.0.title }}</a>
		<div class="summary">
			   {{ three_article_list.0.subtitle|slice:"25" }}...
			<span class="more"><a href="{{ article_base_url }}/{{ nav_index }}/{{ three_article_list.0.id }}/" target="_blank">[详细]</a></span>
		</div>

	</li>

</ul></div></div><div class="grid grid_7 lxgl"><div class="widget widget_52_32 lxgl" data-title="移民攻略" href="/ymgl/">
<ul class="list list_ArticleModule">
    {% for article in three_article_list %}
         {% if forloop.first %}
         {% else %}
            <li><a href="{{ article_base_url }}/{{ nav_index }}/{{ article.id }}/" target="_blank" title="澳洲10年往返签正式实施啦！澳洲留学探亲好利器！">{{ article.title|slice:"15" }}</a></li>
         {% endif %}
    {% endfor %}

</ul></div></div></div></div>






    {#成功案例#}
    <div class="grid grid_9 cgal_a">
        <div class="widget widget_53_33 cgal standardWidget">
            <div class="wHeader">
                <a href="{{ cover_base_url }}/{{ nav_index }}/{{ four_tag.id }}/" class="more">更多...</a>
            </div>
            <div class="wBody min">

                <ul class="list list_ArticleModule">
                        {% for article in four_article_list %}
                            <li>
                                <a href="{{ article_base_url }}/{{ nav_index }}/{{ article.id }}/" target="_blank" title="日本研究生留学需要满足的一些硬性条件">
                                    {{ article.title|slice:"10" }}
                                </a>
                                <span>{{ article.issue_time|date:"Y/m/d" }}</span>
                            </li>
                        {% endfor %}

                </ul>
            </div>
        </div>
    </div>



    {#    小轮播图#}
    <div class="grid grid_24 tpzs"><div class="grid grid_15 alpha"><div class="widget widget_25_14 tpzs_a ui-sortable-handle" data-title="图片展示" href="/tpzs/">



            <div class="ImageDisplayBoxWrap ImageDisplayBoxWrap_ArticleModule">
                <div class="ImageDisplayBox imageDisplay_25" style="position: relative;">
                    {% for article in five_article_list %}

                        <a href="/tpzs/38.htm" target="_blank" title="第十五期—谁说高考定终生，专科生逆袭帝国理工" class="cycle-slide cycle-sentinel" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; display: block; visibility: hidden;">
                            <img src="{{ article.title }}" data-original="/_m/cache/1f/22/1f22173ea96a5e2eb44d05b92b29d6ad.jpg" style="width: 580px; height: 300px; margin: 0px; visibility: hidden;" alt="第十五期—谁说高考定终生，专科生逆袭帝国理工">
                        </a>
                    {% endfor %}
{#                <a href="/tpzs/38.htm" target="_blank" title="第十五期—谁说高考定终生，专科生逆袭帝国理工" class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 96; opacity: 0; display: block; visibility: hidden;">#}
{#                        <img src="/_m/cache/1f/22/1f22173ea96a5e2eb44d05b92b29d6ad.jpg" data-original="/_m/cache/1f/22/1f22173ea96a5e2eb44d05b92b29d6ad.jpg" style="width: 580px; height: 300px; margin: 0px; display: inline;" alt="第十五期—谁说高考定终生，专科生逆袭帝国理工">#}
{#                        </a><a href="/tpzs/37.htm" target="_blank" title="《西部世界》里的主角们毕业于哪个学校和专业？" class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 100; visibility: hidden; opacity: 0; display: block;">#}
{#                        <img src="/_m/cache/07/d6/07d658dec326adec983c5cf4ed5b0743.jpg" data-original="/_m/cache/07/d6/07d658dec326adec983c5cf4ed5b0743.jpg" style="width: 580px; height: 300px; margin: 0px; display: inline;" alt="《西部世界》里的主角们毕业于哪个学校和专业？">#}
{#                        </a><a href="/tpzs/36.htm" target="_blank" title="学习玩乐两不误，Tony带你上天入海" class="cycle-slide cycle-slide-active" style="position: absolute; top: 0px; left: 0px; z-index: 99; visibility: visible; opacity: 1; display: block;">#}
{#                        <img src="/_m/cache/fb/e9/fbe9f59639427c73414398eeeb906424.jpg" data-original="/_m/cache/fb/e9/fbe9f59639427c73414398eeeb906424.jpg" style="width: 580px; height: 300px; margin: 0px; display: inline;" alt="学习玩乐两不误，Tony带你上天入海">#}
{#                        </a><a href="/tpzs/35.htm" target="_blank" title="澳洲语言班要求为何如此低？原因在这里" class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 97; visibility: hidden; opacity: 0; display: block;">#}
{#                        <img src="/_m/cache/63/4d/634d9959c59053a40d0c3d17e9d7ec1f.jpg" data-original="/_m/cache/63/4d/634d9959c59053a40d0c3d17e9d7ec1f.jpg" style="width: 580px; height: 300px; margin: 0px; display: inline;" alt="澳洲语言班要求为何如此低？原因在这里">#}
{#                        </a>#}
            </div>
            </div>
        <script type="text/javascript">
        $(function() {
            function init(){
                var box = $(".imageDisplay_25");
                box.each(function(){
                    if(this.initCycle)
                        return;
                    this.initCycle = true;
                    var box = $(this);
                    var wrap = box.closest('.ImageDisplayBoxWrap');
                    box.cycle({
                        slides: "> a"
                    }).on("cycle-before", function(event, optionHash, curr, next, forwardFlag){
                        var img = $(next).children('img');
                        var src = img.data("data-original");
                        if(src) {
                            img.attr("src", src);
                            img.removeData("data-original");
                        }
                    });
                });
            }
            ensureMedia({"_css": {}, "_js": ["/static/admin/js/jquery.js", "/static/_Client/JQuery/cycle2/jquery.cycle2.min.js"]}, init);
        });
        </script></div></div><div class="grid grid_9 omega"><div class="widget widget_34_14 ui-sortable-handle tpzs_bb" data-title="图片展示" href="/tpzs/">




    <ul id="slideList" class="summaryList summaryList_ArticleModule">
        {% for article in six_article_list %}
        <li>
            <div class="imgBox">
                <a href="/tpzs/38.htm" target="_blank">

                <img src="{{ article.subtitle }}" data-original="/_m/cache/c7/25/c725cf29fa988a6708b0cf0d1d12c54f.jpg" style="width: 97px; height: 50px; margin: 0px; display: inline;">

                </a>
            </div>
            <a class="title" href="/tpzs/38.htm" target="_blank" title="第十五期—谁说高考定终生，专科生逆袭帝国理工">{{ article.title }}</a>


            <div class="summary">
                很多学生本身就特别优秀...
                <span class="more"><a href="/tpzs/38.htm" target="_blank">[详细]</a></span>
            </div>

        </li>
        {% endfor %}
    </ul>

    <script type="text/javascript">
    $(function(){
        var listDisplayer = $(".tpzs_a .ImageDisplayBox");
        var listItems = $("#slideList li");
        listItems.mouseover(function(){
            var index = listItems.index(this);
            listDisplayer.cycle('goto', index);
        });
    });
    </script></div></div>
    </div>

</div>
<!--动态加载模块结束-->

{% endblock %}
