{% extends "lx_base.html" %}

{%block main%}
<style>
    .xx_flex_left img{
        width: 150px;
         height: 100px;
    }
    .title{
{#        font-size:17px;#}
{#        font-weight: bolder;#}
    }
    .summary{
        overflow:hidden;
        text-overflow:ellipsis;
        display:-webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:4;
    }
</style>
    <div class="xx_box">
        <div style="height:15px;"></div>
        <div class="xx_cover">
            <div class="xx_flex_left ">
                <div>
                    <img src="http://www.5migrate.com/_m/cmspages/MasterPage/1/img/wap_ico.jpg" alt=""/>
                </div>
                <div class="content">
                    <div class="title">我是标题</div>
                    <div style="height:10px;"></div>
                    <div class="summary">
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                        21上午好掉粉红色电话费是的佛山的熊323
                    </div>
                </div>
            </div>
        </div>
        <div style="height:15px;"></div>

    </div>


{% endblock %}