


    <div class="grid grid_16">
        <div class="widgetSet lxbjj ui-sortable-handle">
            <ul class="setHeader">
                <li class="firstTab">中小学</li>
                <li class="">本科</li>
                <li class="">硕士</li>
                <li class="lastTab current">我想了解</li>
            </ul>
            <div class="setBody">
                <div class="widget widget_323_138 standardWidget contentWidget">
                    <div class="wHeader">
                        <h2 class="caption">中小学</h2>
                    </div>
                    <div class="wBody">
                        <div class="widgetContainer" data-name="widgetframe">
                            <div class="widget widget_579_217 standardWidget">
                                <div class="wHeader">
                                    <h2 class="caption">
                                        <a href="/yglwyxlb/" target="_blank">院校列表</a>
                                    </h2>
                                </div><div class="wBody">
                                <ul class="list list_ArticleModule"></ul></div></div>
                            <div class="widget widget_329_100 standardWidget">
                                <div class="wHeader">
                                    <h2 class="caption">
                                        <a href="/yglxsjghb/" target="_blank">申请时间规划表</a>
                                    </h2>
                                </div>
                                <div class="wBody">
                                    <ul class="dateList dateList_ArticleModule">
                                        <li>
                                            <a href="/yglxsjghb/297.htm" target="_blank">留学时间规划表</a>
                                            <span>2017-01-21</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget widget_331_103 standardWidget">
                                <div class="wHeader">
                                    <h2 class="caption">
                                        <a href="/ygsqgl/" target="_blank">申请攻略</a>
                                    </h2>
                                </div><div class="wBody">

<ul class="dateList dateList_ArticleModule">
	<li><a href="/ygsqgl/397.htm" target="_blank">英国T1T2T4签证办理要多少存款</a><span>2017-02-01</span></li>
	<li><a href="/ygsqgl/396.htm" target="_blank">英国留学签证的各种雷区</a><span>2017-02-01</span></li>
	<li><a href="/ygsqgl/395.htm" target="_blank">必知常识:英国留学签证那些事</a><span>2017-02-01</span></li>
</ul>
</div></div></div></div></div><div class="widget widget_324_138 standardWidget contentWidget"><div class="wHeader">
<h2 class="caption">本科</h2>
</div><div class="wBody"><div class="widgetContainer" data-name="widgetframe"><div class="widget widget_333_157 standardWidget"><div class="wHeader">
<h2 class="caption">
<a href="/ygzyjx/" target="_blank">专业解析</a>
</h2>
</div><div class="wBody">


<ul class="dateList dateList_ArticleModule">

</ul></div></div><div class="widget widget_335_158 standardWidget"><div class="wHeader">
<h2 class="caption">
<a href="/yglxfn/" target="_blank">留学、移民方案</a>
</h2>
</div><div class="wBody">


<ul class="dateList dateList_ArticleModule">

</ul></div></div><div class="widget widget_585_217 standardWidget"><div class="wHeader">
<h2 class="caption">
<a href="/yglwyxlb/" target="_blank">院校列表</a>
</h2>
</div><div class="wBody">


<ul class="list list_ArticleModule">

</ul></div></div><div class="widget widget_339_100 standardWidget"><div class="wHeader">
<h2 class="caption">
<a href="/yglxsjghb/" target="_blank">申请时间规划表</a>
</h2>
</div><div class="wBody">


<ul class="dateList dateList_ArticleModule">


	<li><a href="/yglxsjghb/297.htm" target="_blank">留学时间规划表</a><span>2017-01-21</span></li>


</ul></div></div><div class="widget widget_341_103 standardWidget"><div class="wHeader">
<h2 class="caption">
<a href="/ygsqgl/" target="_blank">申请攻略</a>
</h2>
</div><div class="wBody">


<ul class="dateList dateList_ArticleModule">


	<li><a href="/ygsqgl/397.htm" target="_blank">英国T1T2T4签证办理要多少存款</a><span>2017-02-01</span></li>



	<li><a href="/ygsqgl/396.htm" target="_blank">英国留学签证的各种雷区</a><span>2017-02-01</span></li>



	<li><a href="/ygsqgl/395.htm" target="_blank">必知常识:英国留学签证那些事</a><span>2017-02-01</span></li>


</ul></div></div></div></div></div><div class="widget widget_326_138 standardWidget contentWidget"><div class="wHeader">
<h2 class="caption">硕士</h2>
</div><div class="wBody"><div class="widgetContainer" data-name="widgetframe"><div class="widget widget_343_157 standardWidget"><div class="wHeader">
<h2 class="caption">
<a href="/ygzyjx/" target="_blank">专业解析</a>
</h2>
</div><div class="wBody">


<ul class="dateList dateList_ArticleModule">

</ul></div></div><div class="widget widget_345_158 standardWidget"><div class="wHeader">
<h2 class="caption">
<a href="/yglxfn/" target="_blank">留学、移民方案</a>
</h2>
</div><div class="wBody">


<ul class="dateList dateList_ArticleModule">

</ul></div></div><div class="widget widget_587_217 standardWidget"><div class="wHeader">
<h2 class="caption">
<a href="/yglwyxlb/" target="_blank">院校列表</a>
</h2>
</div><div class="wBody">


<ul class="list list_ArticleModule">

</ul></div></div><div class="widget widget_349_100 standardWidget"><div class="wHeader">
<h2 class="caption">
<a href="/yglxsjghb/" target="_blank">申请时间规划表</a>
</h2>
</div><div class="wBody">


<ul class="dateList dateList_ArticleModule">


	<li><a href="/yglxsjghb/297.htm" target="_blank">留学时间规划表</a><span>2017-01-21</span></li>


</ul></div></div><div class="widget widget_351_103 standardWidget"><div class="wHeader">
<h2 class="caption">
<a href="/ygsqgl/" target="_blank">申请攻略</a>
</h2>
</div><div class="wBody">


<ul class="dateList dateList_ArticleModule">


	<li><a href="/ygsqgl/397.htm" target="_blank">英国T1T2T4签证办理要多少存款</a><span>2017-02-01</span></li>



	<li><a href="/ygsqgl/396.htm" target="_blank">英国留学签证的各种雷区</a><span>2017-02-01</span></li>



	<li><a href="/ygsqgl/395.htm" target="_blank">必知常识:英国留学签证那些事</a><span>2017-02-01</span></li>


</ul></div></div></div></div></div><div class="widget widget_325_138 standardWidget contentWidget ui-sortable-handle wylj current"><div class="wHeader">
<h2 class="caption">我想了解</h2>
</div><div class="wBody"><div class="widgetContainer" data-name="widgetframe"><div class="widget widget_353_159 standardWidget"><div class="wHeader">
<h2 class="caption">
<a href="/yglxxw/" target="_blank">留学新闻</a>
</h2>
</div><div class="wBody">


<ul class="dateList dateList_ArticleModule">

</ul></div></div><div class="widget widget_356_160 standardWidget"><div class="wHeader">
<h2 class="caption">
<a href="/ygyxzx/" target="_blank">院校资讯</a>
</h2>
</div><div class="wBody">


<ul class="dateList dateList_ArticleModule">

</ul></div></div><div class="widget widget_357_105 standardWidget"><div class="wHeader">
<h2 class="caption">
<a href="/ygzytj/" target="_blank">专业推介</a>
</h2>
</div><div class="wBody">


<ul class="dateList dateList_ArticleModule">


	<li><a href="/ygzytj/389.htm" target="_blank">2017年去英国留学读什么专业就业前景好?</a><span>2017-02-01</span></li>



	<li><a href="/ygzytj/388.htm" target="_blank">2017年去英国留学什么专业好</a><span>2017-02-01</span></li>



	<li><a href="/ygzytj/387.htm" target="_blank">2017年英国留学机械类专业介绍</a><span>2017-02-01</span></li>


</ul></div></div><div class="widget widget_359_161 standardWidget"><div class="wHeader">
<h2 class="caption">
<a href="/ygqzzn/" target="_blank">签证指南</a>
</h2>
</div><div class="wBody">


<ul class="dateList dateList_ArticleModule">

</ul></div></div><div class="widget widget_361_102 standardWidget"><div class="wHeader">
<h2 class="caption">
<a href="/ygyxpm/" target="_blank">院校排名</a>
</h2>
</div><div class="wBody">


<ul class="dateList dateList_ArticleModule">


	<li><a href="/ygyxpm/305.htm" target="_blank">2016英国学院排名排名，全球院校排名，英国大学</a><span>2017-01-21</span></li>



	<li><a href="/ygyxpm/304.htm" target="_blank">2016英国学院排名排名，全球院校排名，英国大学</a><span>2017-01-21</span></li>



	<li><a href="/ygyxpm/303.htm" target="_blank">2016英国学院排名排名，全球院校排名，英国大学</a><span>2017-01-21</span></li>


</ul></div></div><div class="widget widget_363_104 standardWidget"><div class="wHeader">
<h2 class="caption">
<a href="/ygxqzb/" target="_blank">行前准备</a>
</h2>
</div><div class="wBody">


<ul class="dateList dateList_ArticleModule">


	<li><a href="/ygxqzb/405.htm" target="_blank">英国留学八大注意事项</a><span>2017-02-01</span></li>



	<li><a href="/ygxqzb/404.htm" target="_blank">国家留学基金管理委员会CSC项目博士申请条件</a><span>2017-02-01</span></li>



	<li><a href="/ygxqzb/403.htm" target="_blank">去英国留学不可抗拒的九大理由</a><span>2017-02-01</span></li>


</ul></div></div><div class="widget widget_365_162 standardWidget"><div class="wHeader">
<h2 class="caption">
<a href="/yglxgh/" target="_blank">留学规划</a>
</h2>
</div><div class="wBody">


<ul class="dateList dateList_ArticleModule">

</ul></div></div><div class="widget widget_368_163 standardWidget"><div class="wHeader">
<h2 class="caption">
<a href="/yglxbw/" target="_blank">留学百问</a>
</h2>
</div><div class="wBody">


<ul class="dateList dateList_ArticleModule">

</ul></div></div><div class="widget widget_371_165 standardWidget"><div class="wHeader">
<h2 class="caption">
<a href="/tgjxj/" target="_blank">海外奖学金</a>
</h2>
</div><div class="wBody">


<ul class="dateList dateList_ArticleModule">

</ul></div></div><div class="widget widget_375_167 standardWidget"><div class="wHeader">
<h2 class="caption">
<a href="/yglxbg/" target="_blank">留学报告</a>
</h2>
</div><div class="wBody">


<ul class="dateList dateList_ArticleModule">

</ul></div></div></div></div></div></div></div></div><div class="separator clear"></div>